@model OnlineStore.Models.Seller

@{
    ViewData["Title"] = "Details";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="~/Images/@Model.PhotoURL" alt="Not Found" onerror="this.onerror=null;this.src='empty.jpg'" asp-append-version="true">
            </div>
            <div class="col-md-6">
                <div class="small mb-1">ID: @Model.Id</div>
                <h1 class="display-5 fw-bolder">@Model.Name</h1>

                <div class="fs-5 mb-5">
                </div>
                <p class="lead">
                    @Html.DisplayFor(model => model.Description)
                </p>
                <p class="lead">
                    @Html.DisplayNameFor(model => model.Address)
                    @Html.DisplayFor(model => model.Address)
                </p>
                <p class="lead">
                    @Html.DisplayNameFor(model => model.Country)
                    @Html.DisplayFor(model => model.Country)
                </p>
                <p class="lead">
                    @Html.DisplayNameFor(model => model.Email)
                    @Html.DisplayFor(model => model.Email)
                </p>
                <p class="lead">
                    @Html.DisplayNameFor(model => model.FoundingDate)
                    @Html.DisplayFor(model => model.FoundingDate)
                </p>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.sellerProducts)
                </dt>
                <dd class="col-sm-10">
                    @foreach (var product in Model.sellerProducts)
                    {
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">
                            @product.Product.Name
                        </a>
                        <span> Price: </span> @product.Price
                        <br />
                    }
                </dd>
            </div>
        </div>
    </div>
</section>
<div>


@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}