@model IEnumerable<OnlineStore.Models.Seller>

@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<section style=" padding-top:20px">
    <div>
        @if (Model.Count() == 0)
        {
            <div>No items match the criteria</div>
        }
        else
        {
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var seller in Model)
                {
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-img-top ratio ratio-4x3">
                                <img src="~/Images/@seller.PhotoURL" class="card-img-top" alt="Not Found" onerror="this.onerror=null;this.src='empty.jpg'" asp-append-version="true">
                            </div>
                            <div class="card-body align-items-center">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => seller.Name)</h5>
                                <p class="card-text">
                                    <br />
                                    @seller.Country

                                </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-body-secondary">
                                    <a asp-action="Details" asp-route-id="@seller.Id">Details</a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@seller.Id">| Edit |</a>
                                        <a asp-action="Delete" asp-route-id="@seller.Id">Delete</a>
                                    }
                                </small>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>
