@model IEnumerable<OnlineStore.Models.UserProduct>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SellerProduct.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerProduct.Seller.Name)
            </th>
            @if(User.IsInRole("Admin")){
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
            }            
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SellerProduct.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SellerProduct.Seller.Name)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @if(User.IsInRole("User")){
                        <a asp-action="Edit" asp-route-id="@item.Id">
                            <button>Edit</button>
                        </a>
                    }
              

                    <form asp-controller="UserProducts" method="post">
                            <input type="submit" asp-action="Delete" asp-route-id="@item.Id" value="Delete"/>
                        
                    </form>
                </td>
            </tr>
        }   
        @if(User.IsInRole("User")){
           
            <th>
                Total Sum:
            </th>
            <td>
                    @ViewBag.TotalSum
            </td>
        }  
    </tbody>
</table>
