@model OnlineStore.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoURL)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Images/@Model.PhotoURL" height="100" width="100" alt="" asp-append-version="true" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserManualURL)
        </dt>
        <dd class = "col-sm-10">
            <button>
               <a href="~/Files/@Model.UserManualURL">
                    @Html.DisplayFor(model => model.UserManualURL)
                </a>
            </button>
        </dd>
        <dt class = "col-sm-2">
            <a asp-action="Details" asp-controller="Manufacturers" asp-route-id ="@Model.ManufacturerId">
                @Html.DisplayNameFor(model => model.Manufacturer)
            </a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.productCategories)
        </dt>
        <dd class="col-sm-10">
            @foreach (var category in Model.productCategories)
            {
                <a asp-controller="Categories" asp-action="Details" asp-route-id="@category.CategoryId">
                    @category.Category.Name
                </a> <br />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.sellerProducts)
        </dt>
        <dd class="col-sm-10">
            @foreach (var seller in Model.sellerProducts)
            {
                <a asp-controller="Sellers" asp-action="Details" asp-route-id="@seller.SellerId">
                    @seller.Seller.Name
                </a> <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
